$defaultfont: Arial, sans-serif;

/* Burger Icon VARS */
$toggle_color: #2e2382;
$toggle_width: 4rem;
$toggle_height: .3rem;
$toggle_top: .9rem;
$toggle_bottom: 1rem;

/* Registration form vars*/
$reg_background_loading: #ebebeb;
$reg_input_background: #ebebeb;
/* Инпуты */
$reg_group_bottom: 1rem;
$reg_input_height: 4rem;
$reg_input_radius: 2rem;
$reg_input_size: 1.5rem;
$reg_input_color: #333;
$reg_input_font: 'Arial', sans-serif;
$reg_input_placeholder_color: #000;
/* Выбор города */
$reg_select_hover: #000;
$reg_select_scrollbar_color: #000;
$reg_select_scrollbar_track: #ffe500;
$reg_select_height: 15rem;
$reg_select_font: 'Arial', sans-serif;
/* Подтверждение условий конкурса */
$reg_confirm_bg: #000;
$reg_confirm_font: 'Arial', sans-serif;
$reg_confirm_checked: #ffe500;
$reg_error_color: red;
/* Кнопка */
$reg_button_width: 25rem;
$reg_button_height: 5rem;
$reg_button_radius: 5rem;
$reg_button_background: red;
$reg_button_size: 1.8rem;
$reg_button_family: 'Arial', sans-serif;
$reg_button_color: #fff;
/* Label */
$reg_label_size: 1.4rem;
$reg_label_bottom: .5rem;
